@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

:root {
  --FontStyle: "Poppins", sans-serif;
  --Fontcolor: #fff;
  --BGcolor: rgba(82, 82, 82, 0.5);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*#region background imagem*/
.container {
  background-image: url("https://res.cloudinary.com/ddxwdqwkr/image/upload/v1632197722/smashing-articles/35kb-q10-ayousef-espanioly-DA_tplYgTow-unsplash.jpg");
  background-repeat: no-repeat;
  width: 100vw;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*#endregion*/
/*#region style escrito Relogio pomodoro*/
.container h1 {
  font-size: 2rem;
  color: var(--Fontcolor);
  background-color: var(--BGcolor);
  padding: 5px 15px;
  margin-bottom: 20px;
  font-family: var(--FontStyle);
}
/*#endregion*/
/*#region style da data*/
.container #clock {
  background-color: var(--BGcolor);
  color: var(--Fontcolor);
  width: 70vw;
  text-align: center;
}

.container #clock span {
  font-size: 4rem;
  font-family: var(--FontStyle);
  margin: 5px;
}
/*testar tamanho da tela e adaptar*/
@media (max-width: 650px) {
  .container #clock {
    padding: 5px, 10px, 5px, 10px;
  }
  .container #clock span {
    font-size: 2.5rem;
  }
}

@media (max-width: 300px) {
  .container #clock {
    padding: 5px, 10px, 5px, 10px;
  }
  .container #clock span {
    font-size: 2rem;
  }
}
/*#endregion*/
